.hide {
    display: none;
}

.hand-buttons {
    display: flex;
    background: #181818;

}

.hand-button {
    width: 20svw;
    height: 10svh;
    padding: 2svw;
    border: none;
    font-size: 1.3rem;
}
