*,:root,body{
  padding: 0;
  margin: 0;
  
}
*{
    overflow: hidden;
}
:root{
  --app-height:100vh;
  --app-width:100vw;
}
body {
    font-family: sans-serif;
}

/* used white colour for foreground so that disabled button is not visible to the screen */
button:disabled{
    color: #fa0000;
}
/* made the hover background color to white so the annoying hover in empty space is removed */

button:disabled:hover{
    color:white;
    background-color:rgb(128, 255, 255);
}
.noHover{
    pointer-events: none;
}


h1 {
    padding: 25px;
    margin: 20px;
    text-align: center;
}

.container {
  display:flex;
  flex-direction:column;
  height: var(--app-height);
  width: var(--app-width);
  background: white;

& .output {
    width:var(--app-width);
    height:30vh;
    background: gray;
    text-align: center;
}




& .keyboard {
    display: flex;
    flex-wrap:wrap;
    width:var(--app--width);
    height:70vh;
    align-items:  space-around
}

 /* it Removes Outline of all Button */
& *:focus {
    outline: 0 !important;
}



& button {
    font-size: 22px;
    color:"black";
    border: none;
    outline: none;
    margin: auto;
    border-radius: 1.2rem;
    width: calc(var(--app-width) / 4.1);
    height: calc(70vh / 5.1);
    line-height:normal;
}

& button:nth-child(1) {
    background: lightgrey;
}

& button:nth-child(2) {
  
    background: lightgrey;
}

& button:nth-child(3) {
    background: lightgrey;
}

& button:nth-child(4) {
    background: lightgreen;
}

& button:nth-child(8) {
    background: aqua;
}

& button:nth-child(12) {
    padding: 0px;
    
    font-family: monospace;
    background: orange;
}

& button:nth-child(16) {
    background: pink;
   
}

& button:nth-child(20) {
    background: yellow;
}

& sbutton:hover {
    background: rgb(247 230 236);
}
}
